
networks:
  backend:
    driver: bridge

services:
  coredns:
    image: coredns/coredns:latest
    container_name: coredns
    command: -conf /etc/coredns/Corefile
    ports:
      - "5353:53"
      - "5353:53/udp"
      - "8080:8080"
    volumes:
      - ./coredns/Corefile:/etc/coredns/Corefile
    networks:
      - backend

  vector:
    image: timberio/vector:latest-alpine
    container_name: vector
    restart: unless-stopped
    networks:
      - backend
    volumes:
      - ./vector:/etc/vector:ro
    ports:
      - "9000:9000"
      - "8686:8686"
    depends_on:
      - coredns
      - loki

  loki:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml"
    ports:
      - 3101:3100
    volumes:
      - ./loki/loki.yaml:/etc/loki/config.yaml
      - ./data:/data
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: 
      - backend

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    ports:
      - 9090:9090
    restart: unless-stopped
    command: --config.file=/etc/mimir.yaml
    volumes:
      - ./mimir/mimir.yaml:/etc/mimir.yaml
      - ./mimir/alertmanager.yaml:/etc/alertmanager-fallback-config.yaml

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    depends_on:
      - loki
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
            jsonData:
              httpHeaderName1: "X-Scope-OrgID"
            secureJsonData:
              httpHeaderValue1: "tenant1"
          - name: Mimir
            type: prometheus
            access: proxy
            orgId: 1
            url: http://mimir:9090/prometheus
            basicAuth: false
            isDefault: false
            version: 1
            editable: false
        EOF
        /run.sh
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend
