target: all,alertmanager

multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095
  log_level: info

common:
  storage:
    backend: filesystem
    filesystem:
      dir: /data/mimir

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /data/mimir/blocks
  tsdb:
    dir: /data/mimir/tsdb
    retention_period: 7d

compactor:
  data_dir: /data/mimir/compactor
  compaction_interval: 30m
  deletion_delay: 2h

ingester:
  ring:
    final_sleep: 0s
    num_tokens: 512
    replication_factor: 1
    kvstore:
      store: inmemory

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: inmemory

ruler:
  rule_path: /data/mimir/rules
  alertmanager_url: http://localhost:9093
  enable_api: true

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /data/mimir/ruler

alertmanager:
  data_dir: /data/mimir/alertmanager
  enable_api: true
  external_url: http://localhost:9009/alertmanager

alertmanager_storage:
  backend: filesystem
  filesystem:
    dir: /data/mimir/alertmanager-storage

limits:
  ingestion_rate: 100000
  ingestion_burst_size: 200000
  max_global_series_per_user: 0
  max_global_series_per_metric: 0
